@{
   ViewData["Title"] = "Alunos";
}


<div class="text-center">
    <h1 class="display-4">Alunos</h1>
    <button>Gravar</button>
    <button>Listar</button>
    <button>Excluir</button>
    <button>Procurar</button>
</div>
